services:
  node:
    image: node:22-alpine
    volumes:
      - .:/code:cached
    working_dir: /code

  serverless:
    image: gkatanacio/oss-serverless:3.62.1
    volumes:
      - .:/app:cached
    working_dir: /app
    env_file: .env
